.dash button {
  margin-bottom: 80px;
  padding-right: 120px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2em;
  background-color: #fff;
  text-align: left;
  border-radius: 10px;
}
.dash {
  text-align: left;
  margin-left: -50px;
  border-radius: 10px;
}

.dash button:hover {
  background-color: rgb(238, 237, 237);
}
