.searchbar-style {
  display: flex;
  margin-top: -45px;
  justify-content: center;
  height: 37px !important;
  /* position: fixed; */
  padding: 0;
}
#dsa-search {
  width: 25px;
  height: 37px;
  border-radius: 5px;
  background-color: rgb(224, 224, 224);
}
